/* Universal */
html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 64px;
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo img {
  height: 32px;
}

.title {
  display: flex;
  padding-left: 16px;
  font-size: 32px;
}

#colmar {
  font-weight: bolder;
  opacity: 0.8;
}

#academy {
  opacity: 0.3;
}

nav ul {
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  color: #0f0f96;
  opacity: 0.4;
  font-size: 1.2rem;
  text-decoration: none;
}

.seperator {
  width: 1rem;
  height: 4rem;
  background-color: #0f0f96;
  opacity: 0.7;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 470px) {
  .title {
    display: none;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    height: 32px;
    width: 75%;
    border: 1px solid red;
  }


}

/* Banner Section*/

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 764px;
  background-color: #aeaed6;
}

.banner .left-container {
  width: 60%;
}

.banner .image-container {
  width: 100%;
  height: 100%;
}

.banner img {
  margin: 2rem 1.5rem;
  width: 95%;
  height: auto;
}

.banner .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.banner h1 {
  color: #17153d;
  width: 100%;
  font-weight: bold;
  font-size: 3.6rem;
  text-align: left;
}

.banner h2 {
  color: #17153d;
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 1.4;
}

.banner .btn {
  border-radius: 5px;
  width: 100%;
  background-color: #e0ecff;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.banner .btn span {
  font-size: 1.5rem;
  color: #17153d;
}

.banner .btn a {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .banner {
    flex-direction: column;

    height: auto;
  }

  .banner .left-container {
    width: 100%;
  }

  .banner img {
    width: 100%;
    margin: 0;
  }

  .banner .right-container {
    width: 100%;
  }

  .banner .right-container .content {
    margin-left: 1rem;
  }

  .banner .btn {
    width: 200px;
    margin-bottom: 2rem;
  }
}


/* Main Section */

main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

main .left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

main .left-container .image-container {
  margin: 2rem 1.5rem;
}

main .left-container .content {
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main .left-container h1 {
  color: #17153d;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}

main .left-container p {
  color: #17153d;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

main img {
  width: 100%;
}

main .supporting {
  width: 40%;
  height: auto;
}

main .supporting-mobile {
  display: none;
}
.story {
  height: 250px;
  display: flex;
  margin: 1px 0;
  border: 1px solid #aeaed6;
}

.story .image-container {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.story .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
}

.story .content h2 {
  color: #17153d;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.story .content h3 {
  color: #17153d;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.story a {
  text-decoration: none;
  color: #72959e;
  font-size: 1.2rem;
}

.lecture {
  background-color: #aeaed6;
}


@media only screen and (max-width: 670px) {
  main .left-container {
    display: none;
  }

  main .supporting {
    display: none;
  }

  main .supporting-mobile {
    display: flex;
    flex-direction: column;
  }

  main .supporting-mobile .story {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .story .image-container {
    margin: 1rem;
    width: 100%;
    height: auto;
  }

  .story .content {
    margin: 3rem 1rem;

  }


}


/* Degrees Section */

.degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aeaed6;
  height: auto;
  width: 100%;
}

.degree {
  overflow: hidden;
  width: 30%;
  margin: 1rem;
}
.degrees h1 {
  color: #17153d;
  font-size: 3.5rem;
  margin: 2rem;
  font-weight: 800;
  opacity: 0.7;
}

.degrees .images-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.degrees .first-row {
  width: auto;
  display: flex;
  margin-left: 3.5rem;
}

.degrees .second-row {
  display: flex;
  width: auto;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
}

.degree h2 {
  color: #17153d;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.7;
}

.degree h3 {
  color: #17153d;
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0.5;
  padding-bottom: 1.5rem;
}

#courses {
  margin-top: 1rem;
}

.degree .content {
  background-color: white;
  height: 100%;
  padding: 1rem;
}

.degrees-mobile {
  display: none;
}

@media only screen and (max-width: 740px) {
  .degrees .images-container {
    display: none;
  }

  .degrees {
      background-color: white;
      border-bottom: 1px solid #aeaed6;
      padding-bottom: 1.5rem;
  }

  .degrees-mobile {
    display: flex;
    flex-direction: column;
  }

  .degrees-mobile h2 {
    font-size: 1.8rem;
    color: #17153d;
    font-weight: bold;
    background-color: #aeaed6;
    padding: 1rem;
    margin: 0.25rem;
  }
}
/* Thesis section */

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.thesis h1 {
  color: #17153d;
  font-size: 3.5rem;
  margin: 2rem;
  font-weight: 800;
  opacity: 0.7;
}

.thesis .container {
  display: flex;
  flex-direction: row;
}

.thesis .left-container {
  margin-left: 1.5rem;
  width: 60%;
}

.thesis video {
  margin-bottom: 1.5rem;
  width: 100%;
}

.thesis .right-container {
  width: 40%;
  margin-left: 1.5rem;
}

.thesis .study {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.thesis .right-container img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

#fisma {
  background-color: #aeaed6;
  width: 100%;
}

.thesis h2 {
  color: #17153d;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.thesis h3 {
  color: #17153d;
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0.5;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .thesis .right-container {
    display: none;
  }
  .thesis .left-container {
    width: 100%;
    margin: 0;
  }

  .thesis .left-container .content {
    display: none;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #aeaed6;
  height: auto;
}

footer h3 {
  color: #17153d;
  font-weight: 500;
  opacity: 0.5;
  margin: 1rem 0 2rem 1.5rem;
}

footer nav {
  margin: 1rem 1.5rem;
}

footer nav a {
  margin-right: 1rem;
  color: #17153d;
  opacity: 0.5;
  text-decoration: none;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  footer nav {
    display: none;
  }
}
