/* Universal */
html {
  font-size: 16px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 64px;
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo img {
  height: 32px;
}

.title {
  display: flex;
  padding-left: 16px;
  font-size: 32px;
}

#colmar {
  font-weight: bolder;
  opacity: 0.8;
}

#academy {
  opacity: 0.3;
}

nav ul {
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.seperator {
  width: 1rem;
  height: 4rem;
  background-color: lightblue;
}

/* Banner Section*/

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 764px;
  background-color: lightgrey;
}

.banner .left-container {

  width: 60%;

}
.banner .image-container {
  width: 100%;
  height: 100%;
}

.banner img {
  margin: 2rem 1.5rem;
  width: 95%;
  height: auto;
}

.banner .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.banner h1 {
  width: 100%;
  font-weight: bold;
  font-size: 3.6rem;
  text-align: left;
}

.banner h2 {
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 1.4;
}

.banner .btn {
  border-radius: 5px;
  width: 100%;
  background-color: grey;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.banner .btn span {

  font-size: 1.5rem;
  color: white;
}

.banner .btn a {
  text-decoration: none;
}


/* Main Section */

main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

main .left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

main .left-container .image-container {
  margin: 2rem 1.5rem;
}

main .left-container .content {
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main .left-container h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}

main .left-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

main img {
  width: 100%;
}

main .supporting {
  width: 40%;
  height: auto;


}

.story {
  height: 250px;
  display: flex;
  margin: 1px 0;
  border: 1px solid lightgrey;
}

.story .image-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  height: auto;
  margin: 1rem;
}

.story .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
}

.story .content h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.story .content h3 {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.story a {
  text-decoration: none;
  color: skyblue;
  font-size: 1.2rem;
}

#orientation .image-container{
  background-image: url("../images/information-orientation.jpg");
}

#campus .image-container{
  background-image: url("../images/information-campus.jpg");
}

#lecture {
  background-color: lightgrey;
}

#lecture .image-container{
  background-image: url("../images/information-guest-lecture.jpg");
}

/* Degrees Section */

.degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: auto;
  width: 100%;
}

.degree {
  overflow: hidden;
  width: 30%;
  margin: 1rem;
}
.degrees h1 {
  font-size: 3.5rem;
  margin: 2rem;
  font-weight: 800;
  opacity: 0.7;
}

.degrees .images-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.degrees .first-row {
  width: auto;
  display: flex;
  margin-left: 3.5rem;
}

.degrees .second-row {
  display: flex;
  width: auto;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
}

.degree h2 {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.7;
}

.degree h3 {
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0.5;
  padding-bottom: 1.5rem;
}

#courses {
  margin-top: 1rem;
}

.degree .content {
  background-color: white;
  height: 100%;
  padding: 1rem;
}

/* Thesis section */

.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.thesis h1 {
  font-size: 3.5rem;
  margin: 2rem;
  font-weight: 800;
  opacity: 0.7;
}

.thesis .container {
  display: flex;
  flex-direction: row;
}

.thesis .left-container {
  margin-left: 1.5rem;
  width: 60%;
}

.thesis video {
  margin-bottom: 1.5rem;
  width: 100%;
}

.thesis .right-container {
  width: 40%;
  margin-left: 1.5rem;
}

.thesis .study {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.thesis .right-container img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

#fisma {
  background-color: lightgrey;
  width: 100%;
}

.thesis h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.thesis h3 {
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0.5;
  padding-bottom: 2rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  height: 100px;
}

footer h3 {
  font-weight: 500;

  opacity: 0.5;
  margin: 1rem 1.5rem;
}

footer nav {
  margin: 1rem 1.5rem;
}

footer nav a {
  margin-right: 1rem;
  color: inherit;
  opacity: 0.5;
  text-decoration: none;
  font-size: 1rem;
}
