/* Universal */
html {
  font-size: 16px;
}
body {
  margin: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 64px
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.logo img {
  height: 32px;
}

.title {
  display: flex;
  padding-left: 16px;
  font-size: 32px;
}

#colmar {
  font-weight: bolder;
  opacity: 0.8;
}

#academy {
  opacity: 0.3;
}

nav ul {
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.seperator {
  width: 1rem;
  height: 4rem;
  background-color: lightblue;
}

/* Banner Section*/

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 764px;
  background-color: lightgrey;
}

.banner .image-container {
  margin: 1.5rem;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 700px;

  border: 1px solid blue;
}
.banner img {
  padding-top: 32px;
}

.banner .supporting {
  display: flex;
  
  border: 1px solid blue;
}

.banner h1 {
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
}
